<% provide(:title, "Home") %>

<h1>Messages</h1>
<!-- <button type="button" class="btn btn-primary btn-md clear-messages">Clear</button> -->
<div class="clear-block">
  <label class="clear-messages"><a>Clear Messages</a></label>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="trlog" class="list-group">
    </div>
  </div>
</div>
