<div class="form-content">
  <input type="hidden" name="value" value="0">
  <input type="hidden" name="type" value="<%= type %>">

  <label class="name"><%= name %></label>
  <span class="icon expand-icon glyphicon glyphicon-minus"></span>
</div>
