<% provide(:title, "Set Parameters") %>

<h1>Set Parameters</h1>

<div class="row values">
  <div class="col-md-6">
    <div class="tr-select">
      <label><input type="radio" name="tr_select" value="tr-069" <% if @default_model == "tr-069" %>checked="true"<% end %>> TR-069</label>
      <label><input type="radio" name="tr_select" value="tr-098" <% if @default_model == "tr-098" %>checked="true"<% end %>> TR-098</label>
      <label><input type="radio" name="tr_select" value="tr-143" <% if @default_model == "tr-143" %>checked="true"<% end %>> TR-143</label>
      <label><input type="radio" name="tr_select" value="tr-157" <% if @default_model == "tr-157" %>checked="true"<% end %>> TR-157</label>
      <label><input type="radio" name="tr_select" value="tr-181" <% if @default_model == "tr-181" %>checked="true"<% end %>> TR-181</label>
    </div>

    <div id="tree" class="set">
    </div>
  </div>

  <div id="floatPosition" class="set">
    <div class="col-md-12">
      <%= form_for(:api, url: api_cpe_values_path, :method => :post) do |f| %>

        <div class="row">
          <div class="col-md-3">
            <h4>Parameters</h4>
          </div>
          <div class="col-md-9">
            <div class="method-select">
              <label><input type="radio" name="method_select" value="values" checked="true"> Values</label>
              <label><input type="radio" name="method_select" value="attributes"> Attributes</label>
            </div>
          </div>
        </div>

        <div id="parameters">
        </div>

        <%= f.submit 'Set Parameters', class: "btn btn-primary set api_values" %>
        <%= f.button 'Clear', class: "btn btn-primary api_values" %>
      <% end %>
    </div>
    <div class="col-md-12" id="parameters">
      <h4>Response</h4>
      <textarea name="api[response_text]" id="api_response_text"
                cols="50" rows="10" readonly="true"></textarea>
    </div>
  </div>
</div>
<%= render 'modal' %>

